.register-container{
    padding-top: 7.5rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}

.register__form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 350px;
    height: 550px;
    border-top: 5px var(--color--3) solid;
    border-radius: 2px 2px 0 0 ;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.register__form-container h2{
    padding-top: 2rem;
}

.register__input{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.register__input label{
    padding: 0.2rem 0rem;
    color:var(--color--21);
    font-size: 0.8rem;
}

.register__input input{
    height: 30px;
    border: 1px var(--color--20) solid;
    border-radius: 3px;
}

.register__input input:focus{
    outline: none;
}

.register__input input:hover{
    border: 1px var(--color--3) solid;
}

.register__btn{
    width: 80%;
    height: 35px;
    background-color: var(--color--13);
    color: var(--color--12);
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
}
.register__text{
    padding-top: 3rem;
    font-size: 0.7rem;
}

.register__text a{
    color: var(--color--13);
    font-weight: 700;
    cursor: pointer;
}