.product-info {
    width: 100%;
    max-width: 550px;
    /* max-width: 50%; */
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    /* grid-column-gap: 159px; */
    /* grid-row-gap: 0px; */
    gap: 20px;
}

.product-info__title {
    grid-area: 1 / 1 / 2 / 2;
    font-weight: 600;
    margin-bottom: 15px;

}

.product-info__description {
    grid-area: 3 / 1 / 4 / 2;
    font-size: 0.9rem;
    line-height: 1.8;
    margin-bottom: 35px;
}

.product-info__footer {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    justify-items: center;
    row-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
}
.product-info__price-container,.product-info__quantity-container{
    width: auto;
}

.product-info__price-label,
.product-info__quantity-label {
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--color--21);
    font-weight: 600;
    margin: 5px 0;
}

.product-info__price-number {
    font-size: 1rem;
    color: var(--color--1);
    font-weight: 700;
    display: flex;
    gap: 5px;
    transform: translateX(10px);
}

/* .product-info__price-number::before {
    content: '$';
} */

.counter {
    display: flex;
    border: 1px solid var(--color--20);
    width: max-content;
}

.counter__minus,
.counter__plus,
.counter__number {
    width: 30px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter__minus,
.counter__plus {
    color: var(--color--2);
    cursor: pointer;
    font-size: 1.3rem;
    transition: 250ms ease;
}

.counter__minus:hover,
.counter__plus:hover {
    background-color: var(--color--1);
    color: var(--color--3);
    transition: 250ms ease;
}

.counter__number {
    aspect-ratio: 1.5;
    border-right: 1px solid var(--color--20);
    border-left: 1px solid var(--color--20);
}

.product-info__btn {
    width: 100%;
    grid-column: span 2;
    padding: 12px;
    background-color: var(--color--3);
    color: var(--color--1);
    font-weight: 600;
    font-size: 0.95rem;
    cursor: pointer;
    transition:  350ms ease;
}

.product-info__btn:hover {
    /* filter: brightness(1.5); */
    transform: scale(1.05);
    transition: filter 100s ease;
    background-color: var(--color--1);
    color: var(--color--3) ;
    transition:  350ms ease;
}

@media (min-width:800px) {
    .product-info__price-container,.product-info__quantity-container{
        width: 100%;
    }

    .product-info {
        gap: 0px;
    }

    .product-info__description {
        grid-area: 2 / 1 / 3 / 2;
    }

    .product-info__footer {
        grid-area: 3 / 1 / 4 / 2;
    }
}