
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  --color-border: #dcd8d8 ;

  --color--1: #062C30;
  --color--2: #05595B;
  --color--3: #E2D784;
  --color--4: #F5F5F5;

  --color--alt: #FFCB42;
  
  --color--5: #7D9D9C;
  --color--6: #7F8487;
  --color--7: #2192FF;


  --color--11: #171717;
  --color--12: #444444;
  --color--13: #FFC107;
  --color--14: #EDEDED;

  --color--20: #b5b5b5;
  --color--21: #8a8a8a;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
}

h1,h2,h3,h4,p,ul {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  border:none;
}
ul{
  list-style: none;
  padding-left: 0;
}
img{
  display: block;
  width: 100%;
}
input{
  border: none;
}

a{
  color: inherit;
  text-decoration: none;
}


















img{
  width: 100%;
  display: block;
}